* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #0C0854;
  color: white;
}

main {
  padding-top: 110px;
  color: white;
  text-align: left;
  padding-bottom: 40px;
}

.destaque {
    font-weight: bold;
}

.txtinicio {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: left;
    font-weight: 400;
    font-size: 17px;
    margin-left: 20px;
    margin-right: 30px;
}

.subtitulo {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 30px;
}

.btnhome {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  border: 2px solid #FFC52D;
  border-radius: 15px;
  padding: 16px 32px;
  width: 320px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
  background-color: #0C0854;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
}

.btnhome .seta {
  margin-left: auto;
  color: #FFC52D;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btnhome:hover {
  background-color: #FFC52D;
  color: #0C0854;
}

.saibamais {
  margin-top: 40px;
  font-size: 16px;
  color: white;
  text-decoration: underline;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.saibamais img {
  height: 32px;
  width: 32px;
}

a {
  text-decoration: none;
  color: inherit;
}

.imgempresa {
    width: 242px;
    height: 242px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.imgempresa2 {
    width: 317px;
    height: 178px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.destaque-secundaria {
    text-align: left;
    margin-top: 20px;
    color: black;
    background-color: white;
}

.txtsec {
    font-family: "Poppins" sans-serif;
    font-weight: 500;
    margin-left: 20px;
}

.dtq1 {
    color:#FFC52D;
    font-weight: bold;
}

.dtq2 {
    color:#0C0854;
    font-weight: bold;
}

.txtsec2 {
    font-weight: 400;
    margin-left: 20px;
    margin-right: 40px;
    text-align: left;
}