<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ápice</title>
  <link rel="stylesheet" href="/css/cad2.css" />  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet" /> 
</head>
<body>

  <header>

    <%- include('../partials/menu') %>

    <h1 class="cadastro">Cadastro</h1>

  </header>

  <main class="cad-container">

  <nav class="form-section">
        <p>Informe suas informações para o registro</p>
    <form class="cad-form">
      <input type="text" id="rg" name="rg" placeholder="RG" required />

      <input type="text" id="data" name="data" placeholder="Data de nascimento" required />

  
      <input type="text" id="sexo" name="sexo" placeholder="Sexo" required />


      <input type="text" id="estado" name="estado" placeholder="Estado civil" required />


      <input type="text" id="endereco" name="endereco" placeholder="Endereço" required />

    <nav class="lado">
      <input type="text" id="cep" name="cep" placeholder="CEP" required class="cep"/>

      <input type="text" id="complemento" name="complemento" placeholder="Complemento" required class="comp"/>
      
    </nav>


    </form>
  </nav> 

  <nav class="actions-section">
      <button class="btn-primary">Próximo</button>
  </nav>

</main>

<footer>

</footer>

<script src="/js/script.js"></script>

</body>
</html>
