<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ápice</title>
  <link rel="stylesheet" href="/css/cadastro.css" />  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet" /> 
</head>

<body>

  <header>
    
  <%- include('../partials/menu') %>

    <h1 class="cadastro">Cadastro</h1>

  </header>  

<main class="cad-container">


  <nav class="form-section">
        <p>Digite seus dados de acesso para se cadastrar</p>
    <form class="cad-form">
      <input type="text" id="nome" name="nome" placeholder="Nome completo" required />

      <input type="text" id="email" name="email" placeholder="Email" required />

  
      <input type="text" id="telefone" name="telefone" placeholder="Telefone" required />


      <input type="text" id="password" name="password" placeholder="Crie uma senha" required />


      <input type="text" id="password" name="password" placeholder="Confirme sua senha" required />


    </form>
  </nav> 

<nav class="actions-section">
      <button id="btnProximo" class="btn-primary">Próximo</button>
  </nav>
<script>
  document.getElementById('btnProximo').onclick = function() {
    window.location.href = '/cad2';
  };
</script>

</main>

<footer>

</footer>

<script src="/js/script.js"></script>

</body>
</html>
