<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro</title>
  <link rel="stylesheet" href="/css/cadastro-empresa3.css" />  
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100900;1,100900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100900;1,100900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100900;1,100900&family=Montserrat:ital,wght@0,100900;1,100900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
</style>
</head>

<body>

  <header>
    <%- include('../partials/menuempresa') %>
  </header>

  <main class="cad-container">
    <h1 class="cadastro">Cadastro</h1>

    <form class="cad-form" action="/teste3" method="get" novalidate>
      <ol class="form-steps" aria-hidden="true">
        <li><span class="step active">1</span><span class="step-label">Empresa</span></li>
        <li><span class="step">2</span><span class="step-label">Representante<br/>responsável</span></li>
        <li><span class="step">3</span><span class="step-label">Eixo de<br/>atuação</span></li>
      </ol>

      <section class="form-section">
        <p>Insira as informações referentes ao eixo de atuação da empresa</p>

        <fieldset>

          <label for="area" class="sr-only">Área</label>
          <input class="form-input" type="text" id="area" name="area" placeholder="Área">

          <label for="eixo" class="sr-only">Eixo de atuação</label>
          <input class="form-input" type="text" id="eixo" name="eixo" placeholder="Eixo de atuação">

        </fieldset>

        <footer class="actions-section" aria-hidden="true">
          <button type="button" class="btn-add" aria-label="Adicionar">Adicionar <span aria-hidden="true">+</span></button>
        </footer>
      </section>
      <br>
      <nav class="form-nav" aria-label="Ações do formulário">
        <button type="submit" class="btn-primary">Próximo</button>
      </nav>
    </form>
  </main>
  <footer></footer>

  <script src="/js/script.js"></script>

</body>
</html>