<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Responsivo</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/footer.css">
  <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100900;1,100900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100900;1,100900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100900;1,100900&family=Montserrat:ital,wght@0,100900;1,100900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 </style>
</head>
<body>
  <%- include('../partials/menu') %>
  <main>
    <h1 class="textoinicio">
    Recrutamos e desenvolvemos <span class="destaque">jovens talentos.</span>
  </h1><br>
    <h1 class="txthome">
      Ajudamos <span class="destaque2">empresas</span> a selecionar e desenvolver seus <span class="destaque2">futuros talentos,</span> conectamos jovens ás melhores oportunidades no mercado de trabalho e também oferecemos <span class="destaque2">cursos de capacitação</span> para aprimorar suas habilidades.
    </h1>
    <br>
<div class="btn-container">
  <a class="btnhome" href="#">Quero uma oportunidade <span class="seta"><img src="/img/seta.png"></span></a>
  <a class="btnhome" href="#">Quero conhecer os cursos <span class="seta"><img src="/img/seta.png"></span></a>
  <a class="btnhome" href="#">Quero recrutar e desenvolver <span class="seta"><img src="/img/seta.png"></span></a>
  <a href="#" class="saibamais">Conheça mais <br> <span class="arrow-down"><img src="/img/saibamais.png"></span></a>
</div>
    <br>
    
    <figure>
      <img class="foto-grupo" src="/img/foto grupo.png">
    </figure>
    <br>
    <br>
    
    <section class="destaque-secundaria">
      <h1 class="txtsec"><span class="dtq-sec">Recrute</span> e <span class="dtq-sec">desenvolva</span> talentos com potencial.</h1>
   <br> <p class="txt">Jornadas humanizadas que trazem <span class="dtq-sec2">flexibilidade</span> e <span class="dtq-sec2">diversidade</span> de ponta a ponta, com foco na experiência das pessoas candidatas, gestoras e RH.</p>
   <br>
    <div>
  <a class="btnhome2" href="#">Quero recrutar <span ><img class="seta2" src="/img/seta2.png"></span></a>
  <br>
  <br>
  <a class="btnhome3" href="#">Quero desenvolver <span><img class="seta2" src="/img/seta2.png"></span></a>
    </div>
  
  <br>
  <br>

  <figure>
      <img class="foto-grupo2" src="/img/foto empresa 1.png">
    </figure>
    <br>

      <h1 class="txtsec">Encontre a vaga ideal para seu<span class="dtq-sec"> inicio de carreira</span></h1>
   <br> <p class="txt">Participe dos processos seletivos das <span class="dtq-sec2">maiores empresas </span>do país e impulsione a sua carreira através dos <span class="dtq-sec2">cursos da nossa plataforma.</span> </p>
  <br>

  <div>
  <a class="btnhome4" href="#">Quero uma oportunidade <span ><img class="seta2" src="/img/seta2.png"></span></a>
  <br>
  <br>
  <a class="btnhome5" href="#">
  Quero impulsionar minha carreira
  <span><img class="seta3" src="/img/seta2.png" alt="Seta"></span>
</a>
</div>
  
  <br>
  <br>

  <figure>
      <img class="foto-grupo2" src="/img/foto jovem 1.png">
    </figure>

  </section>
      </main>
  <script src="/js/script.js"></script>
  <%- include('../partials/footer') %>
</body>
</html>
