<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Responsivo</title>
  <link rel="stylesheet" href="/css/vagas.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/menu.css">
  <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100900;1,100900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100900;1,100900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100900;1,100900&family=Montserrat:ital,wght@0,100900;1,100900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 </style>
</head>
<body>
    <%- include('../partials/menu') %>
    <main>
    <section class="filter-wrapper">
        <div class="filter-header">
            <img src="/img/filtro.png" alt= "Ícone de filtro" class="filter-icon">
            <span class="filter-text">Filtrar</span>
        </div>
        <nav class="button-group">
            <button class="toggle-button active" data-target="vagas" aria-pressed="true">Vagas</button>
            <button class="toggle-button" data-target="cursos" aria-pressed="false">Cursos</button>
        </nav>
        <nav class="filtro-escondido">
          <form class="caixa-filtro" method="post">
            <img src="/img/filtro2.png" alt="Ícone de filtro" class="filter-icon2">
            <button>Limpar filtro</button>
          </form>
        </nav>
    </section>
    </main>
    <script src="/js/script.js"></script>
    <%- include('../partials/footer') %>    
</body>
