<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Responsivo</title>
  <link rel="stylesheet" href="/css/vagas.css">
  <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100900;1,100900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100900;1,100900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100900;1,100900&family=Montserrat:ital,wght@0,100900;1,100900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 </style>
</head>
<body>
    <%- include('../partials/menu') %>
    <main>
    <section class="filter-wrapper">
        <nav class="filtroinicial">
          <button class="btn-filtrar">
            <img src="/img/filtro.png" alt="Ícone de filtro" class="filter-icon">
            Filtrar
          </button>
        </nav>
        <form class="filter-box">
  <nav class="filter-header">
    <span class="clear-filters" id="limparFiltros">
      <img src="/img/filtro2.png">
      Limpar Filtros
    </span>
    <button type="button" class="close-btn">&times;</button>
  </nav>

  <fieldset class="filter-local">
    <input type="text" placeholder="Locais">
  </fieldset>

  <fieldset class="filter-group">
    <legend class="filter-title">Tipos de vaga</legend>
    <nav class="filter-options">
      <input type="radio" id="presencial" name="tipo-presencial" value="presencial" />
      <label for="presencial">Presencial</label>
      <input type="radio" id="hibrido" name="tipo-hibrido" value="hibrido" />
      <label for="hibrido">Híbrido</label>
      <input type="radio" id="remoto" name="tipo-remoto" value="remoto" />
      <label for="remoto">Remoto</label>
    </nav>

    <br>

    <legend class="filter-title">Tipos de vagas</legend>
    <nav class="checkbox-options">
      <input type="checkbox" id="jovem-aprendiz" name="jovem-aprendiz" value="jovem-aprendiz" />
      <label for="jovem-aprendiz">Jovem Aprendiz</label>

      <input type="checkbox" id="estagio" name="estagio" value="estagio" />
      <label for="estagio">Estágio</label>

      <input type="checkbox" id="trainee" name="trainee" value="trainee" />
      <label for="trainee">Trainee</label>
    </nav>

  </fieldset>
</form>



        <nav class="button-group">
            <button class="toggle-button active" data-target="vagas" aria-pressed="true">Vagas</button>
        </nav>
  <br>
  <br>

<a href="/vagas/rolta" class="card-link">
<article class="card">
  <img src="/img/rolta.png" alt="Foto do programa ROLTA Jovem Aprendiz" class="card-image" />
  <section class="card-content">
    <h2 id="title" class="card-title">ROLTA</h2>
    <p class="card-subtitle">Programa Jovem Aprendiz - 2025</p>
    <time datetime="2025-10-09">09/10</time> - <time datetime="2025-10-16">16/10</time>
  </section>
</article>
</a>
<br>
<br>

<a href="/vagas/rimberio">
<a href="/vagas/rimberio" class="card-link">
<article class="card">
  <img src="/img/rimberio.png" alt="Foto do programa rimberio Jovem Aprendiz" class="card-image" />
  <section class="card-content">
    <h2 class="card-title">RIMBERIO</h2>
    <p class="card-subtitle">Programa Estágio - 2025</p>
    <time datetime="2025-10-30">30/10</time> - <time datetime="2025-12-01">01/12</time>
  </section>
</article>
</a>
<br>
<br>

<article class="card">
  <img src="/img/contafor.png" alt="Foto do programa CONTAFOR Jovem Aprendiz" class="card-image" />
  <section class="card-content">
    <h2 class="card-title">CONTAFOR</h2>
    <p class="card-subtitle">Estágio Técnico - 2025</p>
    <time datetime="2025-09-15">15/09</time> - <time datetime="2025-10-30">30/10</time>
  </section>
</article>
<br>
<br>

<article class="card">
  <img src="/img/borcelle.png" alt="Foto do programa BORCELLE Jovem Aprendiz" class="card-image" />
  <section class="card-content">
    <h2 class="card-title">BORCELLE</h2>
    <p class="card-subtitle">Trainee - 2025</p>
    <time datetime="2025-11-04">04/11</time> - <time datetime="2025-11-24">24/11</time>
  </section>
</article>
  </section>
    </main>
    <script src="/js/script.js"></script>
    <script src="/js/filtros.js"></script>
    <%- include('../partials/footer') %>    
</body>
 
