<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu Responsivo</title>
  <link rel="stylesheet" href="/css/vagas.css">
  <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100900;1,100900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100900;1,100900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100900;1,100900&family=Montserrat:ital,wght@0,100900;1,100900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 </style>
</head>
<body>
    <%- include('../partials/menu') %>
    <main>
    <section class="filter-wrapper">
        <nav class="filtroinicial">
          <button class="btn-filtrar">
            <img src="/img/filtro.png" alt= "Ícone de filtro" class="filter-icon">
            Filtrar
            </button>
        </nav>

        


        <form class="filter-box">
  <nav class="filter-header">
    <span class="clear-filters">
      <img src="/img/filtro2.png">
      Limpar Filtros
    </span>
    <button type="button" class="close-btn">&times;</button>
  </nav>

  <fieldset class="filter-group">
    <legend class="filter-title">Duração</legend>
    <nav class="filter-options">
      <input type="radio" id="duracao-curta" name="duracao" value="curta" />
      <label for="duracao-curta">Curta duração</label>

      <input type="radio" id="duracao-media" name="duracao" value="media" />
      <label for="duracao-media">Média duração</label>

      <input type="radio" id="duracao-longa" name="duracao" value="longa" />
      <label for="duracao-longa">Longa duração</label>
    </nav>
  </fieldset>

  <hr class="divider" />

  <fieldset class="filter-group">
    <legend class="filter-title">Tipos de cursos</legend>
    <nav class="filter-options checkbox-options">
      <input
        type="checkbox"
        id="desenv"
        name="tipos_cursos"
        value="desenvolvimento"
      />
      <label for="desenv">Desenvolvimento Profissional e Pessoal</label>

      <input type="checkbox" id="negocios" name="tipos_cursos" value="negocios" />
      <label for="negocios">Negócios e Inovação</label>

      <input
        type="checkbox"
        id="programacao"
        name="tipos_cursos"
        value="programacao"
      />
      <label for="programacao">Programação</label>

      <input type="checkbox" id="ti" name="tipos_cursos" value="ti" />
      <label for="ti">Tecnologia da Informação</label>
    </nav>
  </fieldset>

  <hr class="divider" />

  <fieldset class="filter-group">
    <legend class="filter-title">Nível de dificuldade</legend>
    <nav class="filter-options">
      <input
        type="radio"
        id="dificuldade-iniciante"
        name="dificuldade"
        value="iniciante"
      />
      <label for="dificuldade-iniciante">Iniciante</label>

      <input
        type="radio"
        id="dificuldade-intermediario"
        name="dificuldade"
        value="intermediario"
      />
      <label for="dificuldade-intermediario">Intermediário</label>

      <input
        type="radio"
        id="dificuldade-avancado"
        name="dificuldade"
        value="avancado"
      />
      <label for="dificuldade-avancado">Avançado</label>
    </nav>
  </fieldset>
</form>

        <nav class="button-group">
            <button class="toggle-button active" data-target="vagas" aria-pressed="true">Vagas</button>
            <button class="toggle-button" data-target="cursos" aria-pressed="false">Cursos</button>
        </nav>
  <br>
  <br>






<article class="card">
  <img src="/img/rolta.png" alt="Foto do programa ROLTA Jovem Aprendiz" class="card-image" />
  <section class="card-content">
    <h2 id="title" class="card-title">ROLTA</h2>
    <p class="card-subtitle">Programa Jovem Aprendiz - 2025</p>
    <time datetime="2025-10-09">09/10</time> - <time datetime="2025-10-16">16/10</time>
  </section>
</article>
<br>
<br>





<article class="card">
  <img src="/img/rimberio.png" alt="Foto do programa rimberio Jovem Aprendiz" class="card-image" />
  <section class="card-content">
    <h2 class="card-title">RIMBERIO</h2>
    <p class="card-subtitle">Programa Estágio - 2025</p>
    <time datetime="2025-10-30">30/10</time> - <time datetime="2025-12-01">01/12</time>
  </section>
</article>
<br>
<br>





<article class="card">
  <img src="/img/contafor.png" alt="Foto do programa CONTAFOR Jovem Aprendiz" class="card-image" />
  <section class="card-content">
    <h2 class="card-title">CONTAFOR</h2>
    <p class="card-subtitle">Estágio Técnico - 2025</p>
    <time datetime="2025-09-15">15/09</time> - <time datetime="2025-10-30">30/10</time>
  </section>
</article>
<br>
<br>





<article class="card">
  <img src="/img/borcelle.png" alt="Foto do programa BORCELLE Jovem Aprendiz" class="card-image" />
  <section class="card-content">
    <h2 class="card-title">BORCELLE</h2>
    <p class="card-subtitle">Trainee - 2025</p>
    <time datetime="2025-11-04">04/11</time> - <time datetime="2025-11-24">24/11</time>
  </section>
</article>
  </section>
    </main>
    <script src="/js/script.js"></script>
    <%- include('../partials/footer') %>    
</body>
 
